body::-webkit-scrollbar {
  width: 5px;     
  background-color: #022443;          
}

body::-webkit-scrollbar-thumb {

  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #333367;  /* creates padding around scroll thumb */
}

#headerSec{
    background-image: url('../Images/background.jpg');
    height: 110vh;
    background-position:100% 100%;   
    background-repeat: no-repeat; 
    background-size: cover ;
}

#logo{
    width: 7.13rem;   
    
}

#headCenter{
    height: 80vh;
}


#headCenter h1 {
    font-size: 1.5rem;
    text-decoration-line: 5px;
    font-weight: 500;
    color: rgb(230, 228, 228);
}

#headCenter p {

    color:#83AEF2;
    font-weight: 500;
}

#bookIntro{
    height: 140vh;
    background-color: #02091A;
    
}

#bookIntro h2{
   font-size: 2rem;
}

#bookIntro p{
   font-size: 0.98rem;
   line-height: 1.7rem;
   font-weight: 300;
   color: rgb(207, 203, 203);
}

#hrTag{
    width: 5rem;
   
    height: 0.2rem;
    border-radius: 5px;
    
    
}

#IconsSec{
    height: 100vh;
    background-color: #02091A;
}

#IconsSec h3{
    font-size: 2rem;
}

#conHr{
     width: 5rem;   
    height: 0.1rem;
    border-radius: 5px;
    margin: 0 auto;
    
}

.feHolder{
    display: flex;
    justify-content: center;
  }
  
  .feHexagon {
    width: 96.75px;
    height: 150px;
    background-image: linear-gradient(90deg, #18234F, #3E3E74);
    border-radius: 15px;
    transition: transform 400ms ease;
  }
  .feHexagon:hover {
    transform: rotate(30deg);
  }
  .feHexagon:before, .feHexagon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }
  .feHexagon:before {
    transform: rotate(60deg);
  }
  .feHexagon:after {
    transform: rotate(-60deg);
  }
  
  .center {
    position: relative;
  }
  
  .hexIcon{
    z-index: 100;
    margin-top: -125px !important;
    pointer-events: none;
  }

  #formSec{
    height: 80vh;
    background-color: #02091A;
  }

  #form{
    width: 45%;
    height: 70%;
    background-color: #18234f;
    margin: 0 auto;    
    border-radius: 15px;
  }

  #formHead{
    height: 45px;
    background-color: #45358b ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .circle{
     width: 10px;
     height: 10px;
     margin: 0 3px;
     border-radius: 50%;
     
  }

  .circleSm{
    width: 4px;
    height: 4px;
    margin: 0 2px;
    border-radius: 50%;
  }

  #formHr{
    width: 5rem;   
    height: 0.2rem;
    border-radius: 5px;
    
  }

  .formInput{
    color: #bbb; background-color: #18234f; border: none; outline: none; border-bottom: 2px solid #bbb;
    padding: 8px;
    width: 100%;
    
  }

  .formA{
    color: #9494ee;
  }

  #purSec{
    height: 70vh;
    text-align: center;
    
  }

  #purSec h5{
    font-size: 2rem;
    color: white;
  }

  #PurHr{
    width: 5rem;   
    height: 0.2rem;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
  }

  .footer{
    display: flex;
  }

  .footerLeft{
    width: 50%;
    display: flex;
    align-items:flex-start ;
    flex-direction: column;
    padding: 4rem 6rem;
    text-align: start;
    overflow: hidden;
  }

  .footerLeft p{
     margin-top: 0.5rem;
  }

  .footerSec{
    height: 50vh;
    background-color: #000029;
  }
  
  #subscribeSec{
    width: 60%; position: relative;background-color: #18234f; border-radius: 0.5rem; margin: 0 auto;top: 2rem;  
  }

  #subBtn:hover{
     background-color: #4c4c7a;
  }
 
  #subInput{
     border: none;
     outline: none;
     background-color: #1b162c;
     padding: 4px 10px;
     border-radius: 1rem;
     color: white;
     
  }

  .animationDiv{
    position: absolute;
    top: -7rem !important; 
  }

/*********************************************** MEDIA QUERIES FOR RESPONSIVE WEBSITE **************************************************/

@media screen and (max-width:1400px) {
  
  .animationDiv{
    left: -2.5rem;
  }
  #form{
    width: 57%;
    height: 70%;
  }

  #bookInfo{
    margin: 4rem 0;
  }
  
  
 
} 

@media screen and (max-width:1204px) {
    #subscribeSec{
        width: 80%;
    }

    .footerSec{
      padding: 0 !important;
     
    }

    .footerCenterMenu{
      padding: 0 !important;
    }

    .footerSocialLinks{
      padding: 0 !important;
    }

    .footerL{
      margin-top: 4rem;
    }

    .footerR{
      margin-top: 4rem;
    }
}

@media screen and (max-width:1184px) {

  .iconSecH2{
      margin-top: 7rem;
  }
  
  #form{
    margin-top: 20rem;
  }
  
  #purSec{
    margin-top: 10rem;
  }
}

@media screen and (max-width:1132px) {
  
  .iconSecH2{
    margin-top: 12rem;
  }

  #formSec{
    margin-top: 10rem;
  }

   #form{
    width: 60%;
    height: 80%;
  }
}

@media screen and (max-width:1092px) {
  #IconsSec{
    margin-top: 5rem;
  }
}

@media screen and (max-width:1033px) {
  #IconsSec{
    margin-top: 10rem;
  }
}

@media screen and (max-width:992px) {
  #subscribeSec {
    width: 100% !important;
   }

   .container, .container-md, .container-sm {
    max-width: 934px;
   }

   .col-md-3 {
    flex: 0 0 auto;
    width: 20%;
   }

   #IconsSec{
     margin-top: 15rem;
   }
}

@media screen and (max-width:953px) {
  #IconsSec{
    margin-top: 21rem;
  }
}

@media screen and (max-width:935px) {
  #IconsSec{
    margin-top: 25rem;
  }
}

@media screen and (max-width:925px) {
  #IconsSec{
    margin-top: 32rem;
  }

  #subscribeSec {
    width: 80% !important;
  }

  p{
    font-size: 0.8rem;
  }

  ul li a{
    font-size: 0.8rem;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 80%;
  }
}

@media screen and (max-width:897px) {
  #IconsSec{
    margin-top: 0rem;
  }

  #formSec {
    margin-top: 15rem;
  }

  #bookInfo{
    padding: 0 !important;
  }

  #bookIntro{
    padding: 0 !important;
  }

  #bookIntro p{
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 300;
  }

  .purposeWrap{
    width: 100% !important;
  }

  .ps-5{
    padding: 5px !important;
  }

  #subInput{
    width: 13rem !important;
  }

  #form {
    width: 75%;
    height: 75%;
  }

  iframe{
    width: 500px ;
    height: 300px;
  }

  #purLotte{
    width: 200px !important;
    height: 215px !important;
  }

  .iconSecH2 {
    margin-top: 1rem;
  }
}

@media screen and (max-width:767px) {
   #bookInfo {
    padding: 0 !important;
    flex-direction: column;
  }

  #bookIntroImg {
     width: 240px;
     height: 330px;
  }

  #bookInroP{
    margin-top: 3rem;
  }

  iframe {
    width: 25rem;
    height: 15rem;
  }   

  #IconsSec{
    margin-top: 5rem;
  }

  .footerR {
    margin-top: 1rem;
  } 

  .footerSec{
    height: 100vh !important;
  }

  #footerP{
    text-align: center;
  }

  #footerWrap{
    width: 95%;
    margin: auto;
  }

  #subscribeSec {
    width: 100% !important;
  }

  .iconWrap{
    width: 98% !important;
  }

  .iconP{
    width: 100% !important;
  }
  
  #formSec{
    margin-top: 3rem;
  }

  #form{
    width: 92%;
  }

}

@media screen and (max-width:600px) {
  .subWrap {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
   }

   #subscribeSec{
     height: 18rem !important;
   }

   .subContent{
      margin-top: 8rem;
   }

   .animationDiv {
    left: auto;
    right: 7rem;
   }

   .purposeWrap{
     flex-direction: column;
   }

    #purLotte{
    width: 100% !important;
    padding: 5px;
   }

   .purAniDiv{
     padding: 5px !important;
   }

   .ps-5{
     width: 95%;
     padding: 3rem;
     margin: auto;
   }

   #IconsSec{
     margin-top: 10rem;
   }
}

@media screen and (max-width:592px) {
  #footerWrap{
    width: 100%;
  }

  .iconWrap{
    flex-direction: column;
    align-items: center;
    
  }

  .iconDiv{
    width: 98%;
  }

  #IconsSec{
    height: 225vh;
  }
}

@media screen and (max-width:504px) {
  #form{
    width: 95%;
    height: 95%;
  }

  #formContent{
    flex-direction: column ;
  }

  .footerR {
    margin-top: 0rem;
  }

  iframe{
    width: auto;
    height: auto;
  }

  .contentDiv1{
     padding: 1rem !important;
  }

  .formP{
    margin: 0 !important;
    margin-top: 0.3rem !important;
  }

  .formCon {
    padding: 16px!important;
    width: 85%;
    margin: 0 auto;

    padding: 0 2rem;
  }

  #purSec{
    margin-top: 15rem;
  }

  .animationDiv{
    left: auto;
    right: 5rem;
  }
}

@media screen and (max-width:455px) {
  #subInput {
    width: 20rem !important;
  }

  #subscribeDiv{
     margin-top: 2rem;
  }

  #subscribeSec {
    height: 20rem !important;
}

 #subBtn{
   width: 12rem;
   margin: 1rem auto;
 }

 #formMain{
   text-align: center;
 }

 .footerMenuL{
    width: 50%;
 }

 .footerMenuR{
    width: 50%;
 }

 .animationDiv {
    right: 4rem;
}
}

@media screen and (max-width:416px) {
  .animationDiv {
    right: 3rem;
}
 #footerP{
   margin: 0.5rem 0;
  
 }

 .footerHr{
   margin: 0 !important;
 }

 #IconsSec{
   margin-top: 16rem;
 }

 #subscribeDiv {
    margin-top: 6rem;
 }
}


@media screen and (max-width:381px) {
  .animationDiv{
    right: 2rem !important;
  }

  #subInput {
    width: 15rem !important;
  }


}

@media screen and (max-width:359px) {
  .animationDiv{
    right: 0rem !important;
  }

  .footerSec {
    height: 105vh !important;
 }
}

@media screen and (max-width:331px) {
  #IconsSec{
    margin-top: 20rem !important;
  }

  #subscribeDiv {
    margin-top: 10rem;
 }

}

@media screen and (max-width:310px) {
  #formSec {
    margin-top: 8rem;
  }
}

@media screen and (max-width:302px) {
  .footerL{
    padding: 0 !important;
  }

  .footerMenuL h6{
    margin:0 !important;
  }
  .footerMenuL ul{
    padding:0 !important;
  }

  #IconsSec{
    margin-top: 24rem !;
  }
}